#chatbox {
}

#chat-form {
  display: flex;
}

#chat-display {
  height: 300px;
  width: 448px;
  border: 1px dotted black;
}

#chat-input {
  height: 30px;
  width: 400px;
  border: 1px solid black;
}

#submit-chat {
  height: 34px;
  border: none;
  border: 1px solid black;
}

.message-color-1 {
  color: #0a6934
}

.message-color-2 {
  color: #742841
}

.message-color-3 {
  color: #0c064e
}

.message-color-4 {
  color: #cf9e14
}
